    <table>
  <thead>
    <tr>
      <th>firstName</th>
      <th>secondName</th>
      <th>age</th>
      <th>course</th>
      <th>faculty</th>
      <th>afterSchoolCourse</th>
      <th>setings</th>
    </tr>
  </thead>
  <tbody class="tbody">
    {{#each students}}
    <tr>
      <td>{{firstName}}</td>
      <td>{{secondName}}</td>
      <td>{{age}}</td>
      <td>{{course}}</td>
      <td>{{faculty}}</td>
      <td>{{#each afterSchoolCourse}}
        <p>{{this}}</p>
        {{/each}}
      </td>
      <td><button data-editId={{id}}>Edit</button><button data-delId={{id}} class="del">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>